body {
    font: 20px "Gill Sans", Verdana, sans-serif;
    line-height: 1.8;
    color: black;
    padding-top: 0px !important;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: #7B2CBF;
  color: #E0AAFF;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #E0AAFF;
}

.nav-link {
  border: 3px outset #240046;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #240046;
  color: white;
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px inset #E0AAFF;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #E0AAFF;
  color: black;
  transition: 0.3s;
}

.row{
  margin: auto auto;
}

.flexrow{
  display: flex;
  justify-content: space-evenly;
}

.caption{
  color: gray;
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}